.demo-info {
  display: flex;
  justify-content: baseline;
}

.demo-info__wrapper {
  position: relative;

  width: 124px;
  text-align: center;

  &--weight {
    margin-right: 32px;
  }
}

.demo-info__value {
  padding: 13px 0 17px;

  line-height: 1;
  text-transform: uppercase;
  border: 1px solid $gray-line;
  border-radius: 3px;
}

.demo-info__description {
  position: absolute;

  top: 48px;
  left: 50%;
  transform: translateX(-50%);

  display: inline-block;
  vertical-align: middle;
  background-color: $gray;

  padding: 0 15px;

  font-family: $text-font;
  font-size: 12px;
  line-height: 1;
}

@media (min-width: $tablet-width) {
  .demo-info__wrapper {
    width: 162px;

    &--weight {
      margin-right: 42px;
    }
  }

  .demo-info__value {
    font-size: 30px;
    padding: 18px 0 22px;
  }

  .demo-info__description {
    white-space: nowrap;
    top: 64px;
    background-color: #ffffff;
    font-size: 14px;
    padding: 0 9px;
  }
}

@media (min-width: $desktop-width) {
  .demo-info__description {
    background-color: $gray;
  }
}
