.diet-programs {
  margin-bottom: 10px;
}

.diet-programs__list {
  display: flex;
  flex-direction: column;

  @include reset-list();
}

@media (min-width: $desktop-width) {
  .diet-programs__list {
    flex-direction: row;
    justify-content: space-between;
  }
}
