.live-demo {
  background-color: $gray;
  overflow: hidden;
}

.live-demo__container {
  display: flex;
  flex-direction: column;
  align-content: center;
  overflow: visible;
}

.live-demo__wrapper {
  width: 100%;
  margin-bottom: 35px;
}

.live-demo__slider {
  width: 100%;
}

.live-demo__slider-image--after {
  display: none;
}

.live-demo__image-wrapper {
  margin: 0 auto;
  position: relative;
}

.live-demo__slider-image {
  height: auto;
  margin-bottom: 28px;
}

.live-demo__toggle {
  padding-bottom: 34px;
}

.live-demo__title {
  margin: 18px 0 25px;
}

.live-demo__information-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 25px;
}

.live-demo__description {
  @include reset();
  margin-bottom: 25px;
}

.live-demo__conclusion {
  width: 100%;
  padding-top: 37px;
  margin: 0;

  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 747px) {
  .live-demo__image-wrapper {
    width: 320px;
    margin-left: -20px;
  }
}

@media (min-width: $tablet-width) {
  .live-demo {
    margin-top: -64px;
    border-top: 1px solid $gray;
    background: linear-gradient(to bottom, #ffffff 619px, $gray 619px);
  }

  .live-demo__toggle {
    padding-bottom: 70px;
  }

  .live-demo__wrapper {
    margin-bottom: 86px;
  }

  .live-demo__title {
    margin: 26px 0 45px;
  }

  .live-demo__information-wrapper {
    margin-top: 53px;
  }

  .live-demo__description {
    width: 700px;
  }

  .live-demo__description br {
    display: none;
  }

  .live-demo__image-wrapper {
    margin-left: 16px;
  }

  .live-demo__slider-image {
    margin-bottom: 16px;
  }

  //Достаточная реализация слайдера без JS,  clip-path некорректно поддерживается в IE11
  .live-demo__slider-poligon--before {
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
    position: absolute;
  }

  .live-demo__slider-poligon--after {
    display: block;
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
  }

  .live-demo__conclusion {
    width: 250px;
    margin: 0;
    margin-left: auto;
    padding-top: 6px;
    text-align: right;
    font-size: 20px;
    line-height: 1.5;
  }

  .live-demo__conclusion span {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .live-demo {
    margin-top: -58px;
    border: none;
    background: linear-gradient(to bottom, #ffffff 153px, $gray 153px);
    overflow: visible;
  }

  .live-demo__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .live-demo__wrapper {
    width: 435px;
    margin-bottom: 70px;
  }

  .live-demo__slider {
    width: 690px;
  }

  .live-demo__slider-image {
    margin-bottom: 37px;
  }

  .live-demo__title {
    margin: 0 0 128px;
  }

  .live-demo__description {
    width: auto;
  }

  .live-demo__information-wrapper {
    margin-top: 68px;
  }

  .live-demo__image-wrapper {
    width: 690px;
    margin-left: 40px;
    margin-top: -36px;
  }

  .live-demo__conclusion {
    width: 100%;
    text-align: left;
    padding-top: 53px;
  }

  .live-demo__conclusion span {
    display: inline-block;
    vertical-align: middle;
    padding-right: 60px;
  }
}
