.live-demo {
  padding: 0 20px;
  margin-bottom: 32px;
  background-color: $gray;
}

.live-demo__title {
  font: $title-font;
  color: #000;
}

.live-demo__description {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.live-demo__information {
  margin-bottom: 15px;
}
