.product-promotion {
  width: 100%;
  height: auto;

  margin-bottom: 22px;

  background: url(../../../img/index-background-mobile@1x.jpg) top no-repeat;
}

.product-promotion__wrapper {
  position: relative;
  padding: 32px 20px 0 20px;
}

.product-promotion__name,
.product-promotion__slogan {
  font: 400 36px/1 $oswald-font;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
}

.product-promotion__name {
  font-size: 36px;
  margin-bottom: 20px;
}

.product-promotion__slogan {
  font-size: 14px;
  text-transform: uppercase;
}

.product-promotion__image {
  position: absolute;
  bottom: 43px;
  left: 50%;
  transform: translateX(-50%);
}

.product-promotion__button {
  margin-top: 300px;
}
