.program {
  position: relative;
  width: 100%;

  margin-bottom: 20px;


  background-color: $gray;

  &--losing-weight::after,
  &--gain-weight::after {
    content: "";
    position: absolute;
  }

  &--losing-weight::after {
    width: 35px;
    height: 49px;

    top: 22px;
    left: 30px;
    background: url("../img/icon-cat-slim.svg") center no-repeat;
  }

  &--gain-weight::after {
    width: 67px;
    height: 28px;

    top: 35px;
    left: 13px;
    background: url("../img/icon-cat-pro.svg") center no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .program  {
    margin-bottom: 30px;
  }
}

@media (min-width: $desktop-width) {
  .program {
    width: 50%;
  }
  .program:nth-child(even) {
    margin-left: 40px;
  }
  .program:nth-child(odd) {
    margin-right: 40px;
  }
}

@media (min-width: $tablet-width) {
  .program--losing-weight::after {
    width: 140px;
    height: 194px;

    left: auto;
    top: 80px;
    right: 92px;
  }
}

@media (min-width: $desktop-width) {
  .program--losing-weight::after {
    width: 70px;
    height: 97px;

    right: auto;
    top: 41px;
    left: 66px;
  }
}

@media (min-width: $tablet-width) {
  .program--gain-weight::after {
    width: 268px;
    height: 112px;

    left: auto;
    top: 135px;
    right: 28px;
  }
}

@media (min-width: $desktop-width) {
  .program--gain-weight::after {
    width: 134px;
    height: 56px;

    right: auto;
    top: 69px;
    left: 34px;
  }
}

.program::before {
  content: "";
  position: absolute;

  width: 50px;
  height: 50px;

  top: 25px;
  left: 22px;

  border-radius: 50%;
  background-color: $green;
}

@media (min-width: $tablet-width) {
  .program::before {
    width: 200px;
    height: 200px;

    left: auto;
    top: 92px;
    right: 62px;
  }
}

@media (min-width: $desktop-width) {
  .program::before {
    width: 100px;
    height: 100px;

    right: auto;
    top: 47px;
    left: 52px;
  }
}

.program__wrapper {
  width: 100%;
  padding: 40px 20px 24px 20px;
}

@media (min-width: $tablet-width) {
  .program__wrapper {
    width: 51%;
    padding: 82px 52px 63px;
  }
}

@media (min-width: $desktop-width) {
  .program__wrapper {
    width: 100%;
  }
}

.program__name {
  text-transform: uppercase;

  margin: 0 0 24px 71px;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .program__name {
    margin-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .program__name {
    margin: 0 0 74px 162px;
  }
}

.program__description {
  @include reset();
  padding-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .program__description {
    padding-bottom: 40px;
  }
}

@media (min-width: $desktop-width) {
  .program__description {
    padding-bottom: 15px;
  }
}

.program__link {
  display: inline-block;
  vertical-align: middle;

  text-decoration: none;
  text-transform: uppercase;
  color: $black-text;

  width: 100%;
  padding-top: 20px;

  border-top: 1px solid $gray-line;

  &:active {
    color: rgba(17, 17, 17, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .program__link {
    font-size: 20px;
    border: none;
  }
}
