.program {
  position: relative;
  margin-bottom: 20px;

  background-color: $gray;

  &--losing-weight::after,
  &--gain-weight::after {
    content: "";
    position: absolute;
  }

  &--losing-weight::after {
    width: 35px;
    height: 49px;

    top: 22px;
    left: 30px;
    background: url("../img/icon-cat-slim.svg") center no-repeat;
  }

  &--gain-weight::after {
    width: 67px;
    height: 28px;

    top: 35px;
    left: 13px;
    background: url("../img/icon-cat-pro.svg") center no-repeat;
  }
}

.program::before {
  content: "";
  position: absolute;

  width: 50px;
  height: 50px;

  top: 25px;
  left: 22px;

  border-radius: 50%;
  background-color: $green;
}

.program__wrapper {
  width: 100%;
  padding: 29px 20px 19px 20px;
}

.program__name {
  text-transform: uppercase;

  margin: 0 0 30px 71px;
  padding: 0;
}

.program__link-wrapper {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  padding-top: 14px;

  border-top: 1px solid $gray-line;
}

.program__link {
  position: relative;
  padding-right: 59px;

  text-decoration: none;
  text-transform: uppercase;
  color: $black-text;

  &::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 20px;

    top: 50%;
    right: 9px;
    transform: translateY(-50%);

    background: url("../img/icon-right-arrow-long.svg") center no-repeat;
  }

  &:hover::before {
    width: 33px;
    right: 0;
    background: url("../img/icon-right-arrow-verylong.svg") center no-repeat;
  }

  &:active {
    opacity: 0.3;
  }

}

.program__description {
  @include reset();
  padding-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .program {
    margin-bottom: 30px;
  }

  .program::before {
    width: 200px;
    height: 200px;

    left: auto;
    top: 92px;
    right: 62px;
  }

  .program__wrapper {
    width: 51%;
    padding: 67px 52px 60px;
  }

  .program--losing-weight::after {
    width: 140px;
    height: 194px;

    left: auto;
    top: 80px;
    right: 92px;
  }

  .program--gain-weight::after {
    width: 268px;
    height: 112px;

    left: auto;
    top: 135px;
    right: 28px;
  }

  .program__name {
    margin-left: 0;
  }

  .program__description {
    padding-bottom: 40px;
  }

  .program__link {
    font-size: 20px;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .program__name {
    margin: 0 0 62px 162px;
  }

  .program__description {
    padding-bottom: 15px;
  }

  .program {
    width: 570px;
    margin-bottom: 40px;
  }

  .program::before {
    width: 100px;
    height: 100px;

    right: auto;
    top: 47px;
    left: 52px;
  }

  .program__wrapper {
    width: 100%;
  }

  .program--losing-weight::after {
    width: 70px;
    height: 97px;

    right: auto;
    top: 41px;
    left: 66px;
  }

  .program--gain-weight::after {
    width: 134px;
    height: 56px;

    right: auto;
    top: 69px;
    left: 34px;
  }
}
