.company-logo {
  display: inline-block;
  vertical-align: middle;
}

@media (min-width: $tablet-width) {
  .company-logo__image {
    width: 173px;
    height: auto;
  }
}

@media (min-width: $desktop-width) {
  .company-logo__image {
    width: 202px;
    height: auto;
  }
}

