.company-logo {
  display: inline-block;
  vertical-align: middle;

  &:hover,
  &:focus {
    opacity: 0.8;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .company-logo__image {
    width: 173px;
    height: auto;
  }
}

@media (min-width: $desktop-width) {
  .company-logo__image {
    width: 202px;
    height: auto;
  }
}
