.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .container {
    width: 748px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 1260px;
  }
}
