.copyright {
  width: 100%;
}

.copyright__link-image {
  fill: #666666;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  text-decoration: none;
  color: $text-color;
  font-family: $text-font;

  &:hover .copyright__link-image,
  &:focus .copyright__link-image {
    fill: $green;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    width: 33.33%;
  }

  .copyright__link {
    justify-content: flex-end;
  }

  .copyright__text {
    margin-right: 22px;
  }
}
