.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 35px 20px 20px;

  background-color: $gray;
}

@media (min-width: $tablet-width) {
  .footer-links {
    padding: 60px 30px 56px;
    justify-content: space-between;
  }

  .footer-links__logo-wrapper {
    width: 33.33%;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .footer-links {
    padding-left: 110px;
    padding-right: 110px;
  }
}
