.location {
  display: flex;
  flex-direction: column;

  position: relative;
}

.location__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 25px 20px;
  background-color: #ffffff;
}

.location__dealer-inv {
  width: 50%;
  text-transform: uppercase;
}

.location__address {
  width: 50%;
  align-items: flex-end;
}

.location__map-wrapper {
  position: relative;

  width: 100%;
  min-height: 365px;

  background-color: $gray;
}

.location__map-image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: $tablet-width) {
  .location__wrapper {
    padding: 70px 70px 63px;
  }

  .location__dealer-inv {
    width: 165px;
    font-size: 20px;
  }

  .location__address {
    width: 170px;
  }
}

@media (min-width: $desktop-width) {
  .location__wrapper {
    position: absolute;
    z-index: 2;

    top: 95px;
    left: 110px;

    width: 570px;
    height: 201px;

    padding-left: 76px;
    padding-right: 76px;

  }
}
