.location {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.location__wrapper {
  display: flex;
  padding: 25px 20px;
}

.location__dealer-inv {
  width: 50%;
  text-transform: uppercase;
}

.location__address {
  width: 50%;
  align-items: flex-end;
}

.location__map-wrapper {
  position: relative;

  width: 320px;
  min-height: 365px;

  background-color: $gray;
}
