.location {
  display: flex;
  flex-direction: column;

  position: relative;
}

.location__wrapper {
  width: 100%;
  padding: 30px 0 27px;
  background-color: $gray;
}

.location__wrapper--index-page {
  background-color: #ffffff;
}

.location__container {
  display: flex;
  justify-content: space-between;

  padding: $mobile-padding;
}

.location__dealer-inv {
  width: 50%;
  text-transform: uppercase;
}

.location__address {
  width: 50%;
  align-items: flex-end;
}

.location__map-wrapper {
  position: relative;
  overflow: hidden;

  width: 100%;
  min-height: 365px;

  background-color: $gray;
}

.location__map-wrapper iframe {
  width: 100%;
}

.location__map-image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

@media (min-width: $tablet-width) {
  .location__wrapper {
    padding: 65px 0 54px;
  }

  .location__container {
    padding: 0 60px;
  }

  .location__dealer-inv {
    width: 165px;
    font-size: 20px;
  }

  .location__address {
    width: 170px;
    text-align: right;
  }

  .location__address span {
    padding-bottom: 20px;
    display: block;
    line-height: 1.2;
  }

  .location__map-wrapper iframe {
    height: 396px;
  }
}

@media (min-width: $desktop-width) {
  .location__wrapper {
    position: absolute;
    z-index: 2;

    top: 94px;
    left: 50%;
    transform: translateX(-610px);

    width: 570px;
    min-height: 201px;
    padding-top: 65px;

    background-color: #ffffff;
  }

  .location__container {
    width: 570px;
    padding: 0 75px;
  }

  .location__map-wrapper iframe {
    height: 400px;
  }

  .location__address {
    text-align: left;
  }
}
