.main-nav {
  position: relative;
  width: 100%;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__list-wrapper {
  display: block;
}

.main-nav__toggle {
  position: absolute;
  top: -48px;
  right: 15px;

  display: block;
  width: 35px;
  height: 30px;

  padding: 0;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

.main-nav--js .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 6px;

  width: 24px;
  height: 2px;

  background-color: $black-text;
  box-shadow: 0 8px 0 0 $black-text,
    0 16px 0 0 $black-text;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 13px;
    left: 5px;

    width: 23px;
    height: 2px;

    background-color: $black-text;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: 747px) {
  .main-nav--js .main-nav__list-wrapper {
    display: none;
  }

  .main-nav--opened .main-nav__list-wrapper {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 516px;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 895px;

    &--index-page {
      width: 50%;
    }
  }
}
