.page-header__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  min-height: 65px;

  background-color: transparent;
}

@media (max-width: $tablet-width) {
  .page-header__container {
    padding: 0;
  }

  .page-header__wrapper {
    padding: 13px 20px 10px;
  }
}

@media (min-width: $tablet-width) {
  .page-header__container {
    flex-direction: row;
    align-items: baseline;

    padding-top: 37px;
    padding-bottom: 15px;
  }

  .page-header__container {
    padding-top: 68px;
  }
}
