.page-footer {
  display: flex;
  flex-direction: column;

  margin-top: 35px;
  background-color: $gray;
}

.page-footer--index-page {
  margin-top: 0;
}

@media (min-width: $tablet-width) {
  .page-footer {
    margin-top: 76px;
  }

  .page-footer--index-page {
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    margin-top: 86px;
  }

  .page-footer--index-page {
    margin-top: 0;
  }
}
