.page-footer {
  display: flex;
  flex-direction: column;

  margin-top: 35px;
  background-color: $gray;

  &--form-page {
    margin-top: 31px;
  }
}

.page-footer--index-page {
  margin-top: 0;
}

@media (min-width: $tablet-width) {
  .page-footer {
    margin-top: 76px;

    &--form-page {
      margin-top: 72px;
    }
  }

  .page-footer--index-page {
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    margin-top: 86px;

    &--form-page {
      margin-top: 82px;
    }
  }

  .page-footer--index-page {
    margin-top: 0;
  }
}
