.social-block {
  display: flex;
  justify-content: center;

  width: 280px;

  @include reset-list();
  margin: 30px 0;

  border-top: 1px solid $gray-line;
  border-bottom: 1px solid $gray-line;
}

.social-block__item {
  @include reset-list();
  padding-right: 30px;

  font-size: 0;
}

.social-block__link {
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .social-block {
    width: 33.33%;
    border: none;
    margin: 0;
  }
}
