.social-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  width: 135px;

  @include reset-list;
  margin: 0 auto;
}

.social-block__item {
  @include reset-list();
  padding-right: 38px;

  font-size: 0;

  &:nth-child(3n) {
    padding: 0;
  }
}

.social-block__link {
  text-decoration: none;
}

.social-block__icon {
  fill: $ico-color;

  &:hover,
  &:focus {
    outline: none;
    fill: $green;
  }

  &:active {
    fill: $green;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social-block {
    width: 150px;

    &--vk {
      width: 30px;
      height: 16px;
    }

    &--insta {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 14px;
      height: 28px;
    }
  }
}
