.title {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
  color: #000000;

  &--small {
    font-size: 24px;
  }
}

@media (min-width: $tablet-width) {
  .title {
    font-size: 60px;

    &--small {
      font-size: 36px;
    }
  }
}
