.catalog-page-main__title {
  padding: $mobile-padding;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .catalog-page-main__title {
    padding: $tablet-padding;
  }
}

@media (min-width: $desktop-width) {
  .catalog-page-main__title {
    padding: $desktop-padding;
  }
}
