.extra-products__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.extra-products__title {
  width: 100%;
  margin-bottom: 30px;
}

.extra-products__bonus {
  display: flex;
  align-items: flex-end;

  width: 100%;
  height: 289px;

  margin: 35px 0;

  background: url("../img/gift-photo-mobile@1x.jpg") center no-repeat;
  background-color: $green;
}

.extra-products__bonus-description {
  width: 166px;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;

  font-size: 16px;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .extra-products__title {
    margin-bottom: 70px;
  }

  .extra-products__bonus {
    height: 200px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .extra-products__container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .extra-products__title {
    margin-bottom: 70px;
  }

  .extra-products__bonus {
    width: 245px;
    height: 289px;
  }
}
