.extra-card {
  display: flex;
  flex-wrap: wrap;

  @include reset-list();
}

.extra-card__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  padding: 13px 0 17px;
  border-bottom: 1px solid $gray-line;

  &:first-child {
    border-top: 1px solid $gray-line;
  }
}

.extra-card__title {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;

  width: 100%;
  max-width: 285px;

  margin: 0;
  padding-bottom: 6px;
}

.extra-card__table {
  max-width: 610px;
  border-collapse: collapse;
  margin-bottom: 13px;
}

.extra-card__row {
  display: flex;
  justify-content: space-between;
  min-width: 280px;
  max-width: 325px;
}

.extra-card__table-value {
  width: 185px;
}

.extra-card__table-value--right {
  width: 95px;
  text-align: right;
}

.extra-card__button-order {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .extra-card {
    margin-bottom: 69px;
  }

  .extra-card__item {
    padding: 23px 38px 27px;

    border: 1px solid $gray;
    border-bottom: none;
    align-items: baseline;

    &:last-child {
      border-bottom: 1px solid $gray;
    }
  }

  .extra-card__table {
    margin-bottom: 19px;
  }

  .extra-card__title {
    font-size: 20px;
  }

  .extra-card__row {
    justify-content: flex-end;
    padding-left: 40px;
  }

  .extra-card__table-value {
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .extra-card {
    width: 895px;
    margin: 0;
  }

  .extra-card__item {
    padding: 15px 0;
    border-left: none;
    border-right: none;
  }

  .extra-card__title {
    padding: 0;
    max-width: 325px;
  }

  .extra-card__table {
    margin: 0;
    width: 285px;
  }

  .extra-card__row {
    justify-content: space-between;
    padding: 0;
  }

  .extra-card__button-order {
    min-width: 245px;
    max-width: 245px;
    margin-left: auto;
  }

  //IE
  .extra-card__table-value {
    width: 245px;
    text-align: left;

    &--right {
      width: 60px;
    }
  }
}
