.extra-card {
  display: flex;
  flex-wrap: wrap;

  @include reset-list();
}

.extra-card__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  padding: 15px 0 18px;
  border-bottom: 1px solid $gray-line;
}

.extra-card__title {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;

  width: 100%;
  max-width: 285px;

  margin: 0;
  padding-bottom: 13px;
}

.extra-card__table {
  max-width: 610px;
  border-collapse: collapse;
  margin-bottom: 12px;
}

.extra-card__row {
  display: flex;
  justify-content: space-between;
  min-width: 280px;
  max-width: 325px;
}

.extra-card__table-value--right {
  padding-left: 50px;
  text-align: right;
}

.extra-card__button-order {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .extra-card {
    margin-bottom: 70px;
  }

  .extra-card__item {
    padding: 27px 38px;

    border: 1px solid $gray;
    border-bottom: none;

    &:last-child {
      border-bottom: 1px solid $gray;
    }
  }

  .extra-card__row {
    justify-content: flex-end;
    padding-left: 40px;
  }
}

@media (min-width: $desktop-width) {
  .extra-card {
    width: 75%;
    margin: 0;
  }

  .extra-card__item {
    padding: 16px 0;
    border-left: none;
    border-right: none;
  }

  .extra-card__title {
    width: 325px;
    padding: 0;
  }

  .extra-card__table {
    margin: 0;
  }

  .extra-card__button-order {
    width: 245px;
  }
}
