.main-products {
  margin-bottom: 32px;
}

.main-products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @include reset-list();
}

@media (min-width: $tablet-width) {
  .main-products {
    margin-bottom: 71px;
  }
}

@media (min-width: $desktop-width) {
  .main-products__list {
    padding: 0 70px;
  }

  .main-products {
    margin-bottom: 80px;
  }
}
