.more-card {
  position: relative;
  border-bottom: 1px solid $gray;
  background-color: #ffffff;

  &::before {
    content: "";
    position: absolute;

    width: 30px;
    height: 30px;

    left: 50%;
    top: 26px;
    transform: translateX(-50%);

    background: url("../img/icon-plus-mobile.svg") center no-repeat;
    opacity: 0.2;
  }
}

.more-card__description {
  margin: 0 auto;
  margin-top: 80px;
}

.more-card__text {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 21px;
  font-size: 12px;

  &--bold {
    margin: 0 auto;
    padding-bottom: 9px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

@media (min-width: $tablet-width) {
  .more-card {
    border: 1px solid $gray;

    &::before {
      width: 60px;
      height: 60px;
      top: 54px;

      background: url("../img/icon-plus.svg") center no-repeat;
    }
  }

  .more-card__description {
    margin-top: 162px;
  }

  .more-card__text {
    width: 180px;
    line-height: 1.2;
    font-size: 16px;

    &--bold {
      width: 136px;
      font-size: 20px;
      line-height: 1;
      padding-bottom: 25px;
    }
  }
}
