.comments__input {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .comments__input {
    padding-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .comments {
    margin-top: -20px;
  }
}
