.form-page-main {
  padding-top: 30px;
}

.form-page-main__container {
  overflow: hidden;
}

.form-page-main__title {
  margin-bottom: 30px;
}

.form-page-main__description {
  width: 255px;

  font-size: 14px;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 42px;
}

@media (min-width: $tablet-width) {
  .form-page-main {
    padding-top: 65px;
  }

  .form-page-main__container {
    padding: 0 69px;
  }

  .form-page-main__title {
    margin-bottom: 50px;
  }

  .form-page-main__description {
    width: 348px;
  }
}

@media (min-width: $desktop-width) {
  .form-page-main {
    padding-top: 85px;
  }

  .form-page-main__container {
    padding: $desktop-padding;
  }
}
