.form-page-main {
  overflow: hidden;
}

.form-page-main__title {
  margin-bottom: 24px;
}

.form-page-main__description {
  font-size: 14px;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 42px;
}

@media (min-width: $tablet-width) {
  .form-page-main__container {
    padding: 0 57px 0 61px;
  }

  .form-page-main__title {
    margin-bottom: 40px;
  }

  .form-page-main__description {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 65px;
  }
}

@media (min-width: $desktop-width) {
  .form-page-main__container {
    padding: $desktop-padding;
  }

  .form-page-main__title {
    margin-bottom: 41px;
  }
}
