.form-page-main {
  padding-top: 23px;
}

.form-page-main__container {
  overflow: hidden;
}

.form-page-main__title {
  margin-bottom: 35px;
  line-height: inherit;
}

.form-page-main__description {
  font-size: 14px;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 42px;
}

.form-page-main input:hover,
.form-page-main textarea:hover {
  border-color: $gray-line;
  outline: none;
}

.form-page-main input:active,
.form-page-main textarea:active,
.form-page-main input.is-active,
.form-page-main textarea.is-active {
  border-color: $text-color;
  outline: none;
}

@media (min-width: $tablet-width) {
  .form-page-main {
    padding-top: 67px;
  }

  .form-page-main__container {
    padding: 0 57px 0 61px;
  }

  .form-page-main__title {
    margin-bottom: 50px;
  }

  .form-page-main__description {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 65px;
  }
}

@media (min-width: $desktop-width) {
  .form-page-main {
    padding-top: 115px;
  }

  .form-page-main__container {
    padding: $desktop-padding;
  }
}
