.questionnaire {
  margin-bottom: 30px;
  text-transform: uppercase;
}

.questionnaire__fieldset {
  width: 100%;
  margin: 0;
  padding: 0;

  border: none;
}

.questionnaire__fieldset--gray-border {
  padding: $mobile-padding;
  padding-top: 28px;
  padding-bottom: 28px;
  margin-top: 24px;

  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;
}

.questionnaire__fieldsets-wrapper,
.questionnaire__fieldset-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


  margin-bottom: 32px;
}

.questionnaire__fieldset-wrapper,
.questionnaire__fieldset--owner {
  padding: $mobile-padding;
}

.questionnaire__item {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.questionnaire__item:last-child {
  margin-bottom: 0;
}

.questionnaire__title {
  text-transform: initial;
  margin-bottom: 32px;
  padding: $mobile-padding;
}

.questionnaire__button-wrapper {
  display: flex;
  flex-wrap: wrap;

  padding: $mobile-padding;
}

.questionnaire__button {
  margin: 24px 0;
}

.questionnaire__notice {
  margin: 0 auto;
  text-align: center;

  text-transform: initial;
}

@media (min-width: $tablet-width) {
  .questionnaire__fieldset--combo {
    padding: 0;
  }

  .questionnaire__fieldsets-wrapper,
  .questionnaire__fieldset-wrapper {
    margin-bottom: 71px;
    padding: 0 69px;
  }

  .questionnaire__fieldset--gray-border {
    border: 1px solid $gray;
    padding: 36px 0;
    margin-top: 72px;
    margin-bottom: 8px;
  }

  .questionnaire__title {
    padding: 0 69px;
    margin-bottom: 71px;
  }

  .questionnaire__item--check-box {
    width: 50%;
  }

  .questionnaire__button-wrapper {
    padding-left: 71px;
  }

  .questionnaire__button {
    width: 283px;
    margin: 0;
  }

  .questionnaire__notice {
    margin: 0;
    margin-left: 60px;
  }
}

@media (min-width: $desktop-width) {
  .questionnaire__fieldsets-wrapper,
  .questionnaire__fieldset-wrapper {
    padding: $desktop-padding;
  }

  .questionnaire__fieldset {
    width: auto;
  }

  .questionnaire__item {
    width: 570px;
  }

  .questionnaire__fieldset--gray-border {
    border: 1px solid $gray;
    padding: 36px 0;
    margin: 0;
  }

  .questionnaire__title {
    padding: $desktop-padding;
  }

  .questionnaire__item--check-box {
    width: 245px;
  }

  .questionnaire__button-wrapper {
    padding: $desktop-padding;
  }

  .questionnaire__button {
    width: 568px;
  }
}
