.questionnaire {
  text-transform: uppercase;
}

.questionnaire__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.questionnaire__fieldset--gray-border {
  position: relative;
  padding: 28px 0;
  margin-top: 24px;
}

.questionnaire__fieldsets-wrapper,
.questionnaire__fieldset-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-bottom: 28px;
}

.questionnaire__item {
  display: flex;
  align-items: baseline;
  width: 100%;
  margin-bottom: 15px;
}

.questionnaire__item:last-child {
  margin-bottom: 0;
}

.questionnaire__title {
  text-transform: none;
  line-height: 1;
  margin-bottom: 34px;
}

.questionnaire__button-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.questionnaire__button {
  font-size: 16px;
  margin: 7px 0 20px;
}

.questionnaire__notice {
  margin: 0 auto;
  text-align: center;

  text-transform: none;
}

@media (max-width: $tablet-width) {
  .questionnaire__fieldset--gray-border::before,
  .questionnaire__fieldset--gray-border::after {
    content: "";
    position: absolute;

    width: 1000px;
    height: 1px;

    top: 0;
    transform: translateX(-50%);

    background-color: $gray;
  }

  .questionnaire__fieldset--gray-border::after {
    top: auto;
    bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .questionnaire__fieldsets-wrapper,
  .questionnaire__fieldset-wrapper {
    margin-bottom: 67px;
  }

  .questionnaire__fieldset--gray-border {
    border: 1px solid $gray-line;
    padding: 33px 40px;
    margin: 72px 0 8px;
  }

  .questionnaire__title {
    margin-bottom: 76px;

    &--contacts br {
      display: none;
    }
  }

  .questionnaire__item {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .questionnaire__button-wrapper {
    margin-top: -45px;
  }

  .questionnaire__button {
    width: 283px;
    height: 52px;
    margin: 0;

    font-size: 20px;
  }

  .questionnaire__notice {
    margin: 0;
    margin-left: 60px;
  }
}

@media (min-width: $desktop-width) {
  .questionnaire__fieldsets-wrapper,
  .questionnaire__fieldset-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .questionnaire__fieldset {
    width: auto;
  }

  .questionnaire__item {
    width: 570px;
  }

  .questionnaire__fieldset--gray-border {
    border: 1px solid $gray;
    padding: 34px 40px;
    margin: 0;
  }

  .questionnaire__item--check-box {
    width: 245px;
  }

  .questionnaire__button-wrapper {
    margin-top: -35px;
  }

  .questionnaire__button {
    width: 568px;
  }
}
