.text-form__wrapper {
  &--icon {
    position: relative;
  }

  &--icon .text-form__label {
    margin-right: 12px;
  }
}

.text-form__icon {
  position: absolute;
  top: 22.5px;
  left: 248px;
  transform: translateY(-50%);
}

.text-form__label {
  margin-right: 15px;
  white-space: nowrap;
}

.text-form__input {
  position: relative;
  width: 100%;
  padding: 12px 13px;
  border: 1px solid $gray;

  &::placeholder {
    font-family: $oswald-font;
    font-size: 16px;
    text-transform: uppercase;
    color: #444444;
  }

  &:hover {
    border-color: $gray-line;
  }

  &:focus,
  &:active {
    border-color: $text-color;
    outline: none;
  }

  &:invalid {
    border-color: #ff8282;
  }

  &:focus + .text-form__icon,
  &:active + .text-form__icon {
    fill: $green;
  }

  &:invalid + .text-form__icon {
    fill: #ff8282;
  }
}

@media (min-width: $tablet-width) {
  .text-form__input {
    padding-bottom: 15px;
    padding-left: 18px;
    font-size: 20px;

    &::placeholder {
      font-size: 20px;
    }
  }

  .text-form__icon {
    top: 26px;
    left: 593px;
  }
}

@media (min-width: $desktop-width) {
  .text-form__icon {
    left: 533px;
  }
}
