.text-form {
  padding: 25px 0;
}

.text-form__wrapper {
  display: flex;
  width: 280px;
  margin-bottom: 15px;
}

.text-form__label {
  margin-right: 15px;
  white-space: nowrap;
}

.text-form__input {
  width: 100%;
}
