*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  font: $text-font;
  color: $text-color;
  background-color: #fff;
}

img {
  max-width: 100%;
}
