*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  font-family: $oswald-font;
  font-size: 16px;
  line-height: 1.2;
  color: $black-text;
  background-color: #ffffff;
  //IE
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

iframe {
  border: none;
}
